Algebra HTML: (algebra.erb)
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Educational Resources</title>
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
     <link href='http://fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" type="text/css" href="css/style2.css" >
 </head>
 <body>
   <div container>
     <img  id = "erlogo" src = "https://33.media.tumblr.com/865ec1428a09ca620030eff4ea84c1a5/tumblr_nsctbgJIlG1ua26pjo1_1280.gif" id = "erlogo">
   <ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="er.erb">Home</a></li>
  <li role="presentation"><a href="math.erb">Math</a></li>
  <li role="presentation"><a href="english.erb">English</a></li>
  <li role="presentation"><a href="history.erb">History</a></li>
  <li role="presentation"><a href="science.erb">Science</a></li>
  <li role="presentation"><a href="language.erb">Language</a></li>
    <form method = "POST" action = "/results.erb"> <input type = "text" name = "search"> </input> <input type = "submit"> </input> </form> 
</ul>
  
</ul>
   <h1> <br> &nbsp  Algebra </h1>
<div id = "intro">
   <h3> <br> &nbsp This website contains videos, links, textbooks, and everything you'll need for school research </h3>
     <img src ="http://www.thelighthousechristianacademy.com/TeacherSites/JackMefford/alg1clipart.png" height ="225px" width = "300px">
   <img src ="http://srsalas.com/wp-content/uploads/2013/02/emc2-wallpapers_35141_1600x1200-765x415.jpg" height ="225px" width = "300px">
   <img src ="http://static01.nyt.com/images/2012/07/29/sunday-review/29COVER/29COVER-articleLarge-v2.jpg" height ="225px" width = "300px">
   <img src ="http://math.lotsoflessons.com/math_algebra2.gif" height ="225px" width = "300px">
</div>
   
   <div id = "videos">
   <h3> Videos (Ultimate Algebra) </h3>

<iframe width="200" height="200" src="https://www.youtube.com/embed/V3dFHt9p5W8?list=PLWMyN7hO633c2EsJ_W9oW0B4tPV6AuW-X" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/tpOqzuRFutg?list=PLWMyN7hO633c2EsJ_W9oW0B4tPV6AuW-X" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/Y-w9-eFHC28?list=PLWMyN7hO633c2EsJ_W9oW0B4tPV6AuW-X" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/RGITnTKPZds?list=PLWMyN7hO633c2EsJ_W9oW0B4tPV6AuW-X" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/sWwHPikT_ZY?list=PLWMyN7hO633c2EsJ_W9oW0B4tPV6AuW-X" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/NHNJMTcKk1E?list=PLWMyN7hO633c2EsJ_W9oW0B4tPV6AuW-X" frameborder="0" allowfullscreen></iframe>
</div>
   
   <h3>Links</h3>

   <a href = "https://mathway.com">Math Way</a> <br>
   <a href = "https://www.khanacademy.org/math/algebra">Khan Academy</a> <br>
   <a href = "https://www.ixl.com/math/algebra-1">IXL for Algebra</a> 
   
   <h3> Textbook PDFs </h3>
   <a href = "http://www.saylor.org/site/wp-content/uploads/2011/12/SAYLOR-MA001-TEXT.pdf">Beginning and Intermediate Algebra  </a> <br>
   <a href = "http://www.math.harvard.edu/~lurie/papers/higheralgebra.pdf">Higher Algebra </a> <br>
   <a href = "https://www.gutenberg.org/files/13309/13309-pdf.pdf ">A First Book in Algebra </a>
   
   <h3>Other Resources</h3>
   <a href = "https://sat.collegeboard.org/practice/sat-subject-test-preparation/mathematics-level-2"> Take the Mathematics SAT Subject Test </a> <br>
   <a href = "https://apstudent.collegeboard.org/apcourse/ap-calculus-bc"> Learn about AP Calculus </a>
   
   </div>
 </body>
</html>