
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Educational Resources</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
     <link href='https://fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" type="text/css" href="css/style2.css" >
 </head>
 <body>
   <center><img src= "https://31.media.tumblr.com/e23c21e232cfb664a93cc0f614831366/tumblr_nsctbgJIlG1ua26pjo4_540.gif" height = "150px" width = "150px">
   <a href="/"><img id = "er" src = "https://38.media.tumblr.com/865ec1428a09ca620030eff4ea84c1a5/tumblr_nsctbgJIlG1ua26pjo1_540.gif" height = "200px" width = "200px"></a>
   <img src = "https://38.media.tumblr.com/0c9790cc6bc01121e3016ae1de2cb286/tumblr_nsctbgJIlG1ua26pjo5_540.gif" height = "150px" width = "150px"></center>
   <div container>
   <ul class="nav nav-pills" id = "navbar">
  <li role="presentation" class="active"><a href="er">Home</a></li>
  <li role="presentation"><a href="math.erb">Math</a></li>
  <li role="presentation"><a href="english.erb">English</a></li>
  <li role="presentation"><a href="history.erb">History</a></li>
  <li role="presentation"><a href="science.erb">Science</a></li>
  <li role="presentation"><a href="language.erb">Language</a></li>
     <form method = "POST" action = "/results.erb"> <input type = "text" name = "search"> </input> <input type = "submit"> </input> </form> 
</ul>
 
</ul>
   <h1> <br>&nbsp Biology </h1>
<div id = "intro">
   <h3> <br> &nbsp This website contains videos, links, textbooks, and everything you'll need for school research </h3> <br>
   <img src ="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQLMC4uXswaQrnnd5O0JHGL4FOqqbEMcEbgPdgy2MnBfbSW5aiuDQ" height ="225px" width = "300px">
   <img src ="http://wallpaperus.org/wallpapers/07/64/leaves-biology-5184x3456-wallpaper-2169984.jpg" height ="225px" width = "300px">
   <img src ="http://hdwallpapersfit.com/wp-content/uploads/2015/02/virus-biology-hd-wallpapers.jpg" height ="225px" width = "300px">
   <img src =" http://cancer.osu.edu/~/media/Images/Cancer/Components/Carousels/Research-and-Education/Molecular-Biology-and-Cancer-Genetics.jpg?mw=1382" height ="225px" width = "300px">
</div>
   
   <div id = "videos">
   <h3> <br> Videos (Crash Course) </h3>

   <iframe width="200" height="200" src="https://www.youtube.com/embed/QnQe0xW_JY4" frameborder="0" allowfullscreen></iframe>
   <iframe width="200" height="200" src="https://www.youtube.com/embed/cj8dDTHGJBY?list=PL3EED4C1D684D3ADF" frameborder="0" allowfullscreen></iframe>
   <iframe width="200" height="200" src="https://www.youtube.com/embed/00jbG_cfGuQ?list=PL3EED4C1D684D3ADF" frameborder="0" allowfullscreen></iframe>
   <iframe width="200" height="200" src="https://www.youtube.com/embed/CBezq1fFUEA?list=PL3EED4C1D684D3ADF" frameborder="0" allowfullscreen></iframe> 
   <iframe width="200" height="200" src="https://www.youtube.com/embed/L0k-enzoeOM?list=PL3EED4C1D684D3ADF" frameborder="0" allowfullscreen></iframe>
   <iframe width="200" height="200" src="https://www.youtube.com/embed/WhFKPaRnTdQ?list=PL3EED4C1D684D3ADF" frameborder="0" allowfullscreen></iframe>
</div>
<br> 
<div id="links">
   <h3>Links</h3>
   <a href = "https://quizlet.com/9485404/cellular-biology-with-pictures-flash-cards/">Quizlet Flash Cards</a> <br>
   <a href "https://www.khanacademy.org/science/biology">Khan Academy</a> <br>
   <a href ="http://www.cell.com/current-biology/home">Current Biology (Research Articles)</a> <br>
   <a href = "http://news.sciencemag.org/category/biology">Science Magazine (Research Articles)</a>
</div>

  <div id = "textbooks">
   <h3> Textbook PDFs </h3>
   <a href = "http://gene.bio.jhu.edu/bm2whole.pdf">Genetics and Molecular Biology (Johns Hopkins University) </a>
  </div>
<div id = "resources">
   <h3>Other Resources</h3>
   <a href = "https://sat.collegeboard.org/practice/sat-subject-test-preparation/biology-em"> Take the Biology SAT Subject Test </a> <br>
   <a href = "https://apstudent.collegeboard.org/apcourse/ap-biology"> Learn about AP Biology </a>
</div>
   
   </div>
 </body>
</html>
