<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Educational Resources</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <link href='https://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" type="text/css" href="css/style2.css" >
 </head>
 <body>
   <center><img src= "https://31.media.tumblr.com/e23c21e232cfb664a93cc0f614831366/tumblr_nsctbgJIlG1ua26pjo4_540.gif" height = "150px" width = "150px">
   <a href="/"><img id = "er" src = "https://38.media.tumblr.com/865ec1428a09ca620030eff4ea84c1a5/tumblr_nsctbgJIlG1ua26pjo1_540.gif" height = "200px" width = "200px"></a>
   <img src = "https://38.media.tumblr.com/0c9790cc6bc01121e3016ae1de2cb286/tumblr_nsctbgJIlG1ua26pjo5_540.gif" height = "150px" width = "150px"></center>
   <div container>
   <ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="er">Home</a></li>
  <li role="presentation"><a href="math.erb">Math</a></li>
  <li role="presentation"><a href="english.erb">English</a></li>
  <li role="presentation"><a href="history.erb">History</a></li>
  <li role="presentation"><a href="science.erb">Science</a></li>
  <li role="presentation"><a href="language.erb">Language</a></li>
     <form method = "POST" action = "/results.erb"> <input type = "text" name = "search"> </input> <input type = "submit"> </input> </form> 
</ul>
  
</ul>
   <h1> Chemistry </h1>
   <h3> This website contains videos, links, textbooks, and everything you'll need for school research </h3>
<img src = "http://discover.umn.edu/sites/default/files/A2-DowChemical%2BU_Lab-Safety_562x375.jpg" height ="225px" width = "300px"> 
<img src = "http://www-tc.pbs.org/wgbh/nova/next/wp-content/uploads/2013/06/note-a-note-champagne-1024x576.jpg" height ="225px" width = "300px"> 
<img src = "http://solazyme.com/wp-content/uploads/2014/10/Green-Chemistry.jpg" height ="225px" width = "300px"> 
<img src = "http://thumbs.dreamstime.com/z/chemistry-concept-molecule-structural-formula-model-periodic-table-elements-35380085.jpg" height ="225px" width = "300px"> 




<h3>Videos </h3>
<iframe width="200" height="200" src="https://www.youtube.com/embed/FSyAehMdpyI?list=PL8dPuuaLjXtPHzzYuWy6fYEaX9mQQ8oGr" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/rcKilE9CdaA?list=PL8dPuuaLjXtPHzzYuWy6fYEaX9mQQ8oGr" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/AN4KifV12DA?list=PL8dPuuaLjXtPHzzYuWy6fYEaX9mQQ8oGr" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/ANi709MYnWg?list=PL8dPuuaLjXtPHzzYuWy6fYEaX9mQQ8oGr" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/TLRZAFU_9Kg?list=PL8dPuuaLjXtPHzzYuWy6fYEaX9mQQ8oGr" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/bzr-byiSXlA?list=PL8dPuuaLjXtPHzzYuWy6fYEaX9mQQ8oGr" frameborder="0" allowfullscreen></iframe>
<h3>Links </h3>
<a href = "http://chemistry.about.com">About.com</a> <br>
<a href = "http://www.internetchemistry.com">Internet Chemistry </a> <br>
<a href = "https://www.khanacademy.org/science/chemistry">Khan Academy </a> <br>
<a href = "http://www.rsc.org/chemistryworld/"> Chemistry World</a> <br>
<a href = "http://www.acs.org/content/acs/en.html">American Chemistry Society </a>

<h3>Textbook PDFs</h3>
<a href = "http://www.textbooksonline.tn.nic.in/books/11/std11-chem-em-1.pdf">Textbooks Online</a> <br>
<a href = "http://openedgroup.org/books/Chemistry.pdf">Opened Group Chemistry </a> <br>
<a href = "http://www.saylor.org/site/textbooks/General%20Chemistry%20Principles,%20Patterns,%20and%20Applications.pdf">Saylor-General Chemistry Principles, Patterns, and Applications </a> <br>

<h3> Other Resources </h3>
<a href = "https://sat.collegeboard.org/practice/sat-subject-test-preparation/chemistry">SAT Subject Test - Chemistry </a> <br>
<a href = "https://apstudent.collegeboard.org/apcourse/ap-chemistry">Learn More About AP Chemistry</a> <br>





   
   </div>
 </body>
</html>