
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Educational Resources</title>
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" type="text/css" href="css/style2.css" >
 </head>
 <body>
   <center><img src= "https://31.media.tumblr.com/e23c21e232cfb664a93cc0f614831366/tumblr_nsctbgJIlG1ua26pjo4_540.gif" height = "150px" width = "150px">
   <a href="/"><img id = "er" src = "https://38.media.tumblr.com/865ec1428a09ca620030eff4ea84c1a5/tumblr_nsctbgJIlG1ua26pjo1_540.gif" height = "200px" width = "200px"></a>
   <img src = "https://38.media.tumblr.com/0c9790cc6bc01121e3016ae1de2cb286/tumblr_nsctbgJIlG1ua26pjo5_540.gif" height = "150px" width = "150px"></center>
   <div container>
   <ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="er">Home</a></li>
  <li role="presentation"><a href="math.erb">Math</a></li>
  <li role="presentation"><a href="english.erb">English</a></li>
  <li role="presentation"><a href="history.erb">History</a></li>
  <li role="presentation"><a href="science.erb">Science</a></li>
  <li role="presentation"><a href="language.erb">Language</a></li>
     <form method = "POST" action = "/results.erb"> <input type = "text" name = "search"> </input> <input type = "submit"> </input> </form> 
</ul>
  
</ul>
   <h1> English </h1>
   <h3> This website contains videos, links, textbooks, and everything you'll need for school research </h3> <br>
     <img src ="http://www.allianceabroad.com/wp-content/uploads/Royal_Buckingham_English_Wordle.jpg" height ="225px" width = "300px">
   <img src ="http://ydyo.firat.edu.tr/sites/ydyo.firat.edu.tr/files/xx_0.JPG" height ="225px" width = "300px">
   <img src ="http://1.bp.blogspot.com/-_S7xQvxMtOA/U9frmib61HI/AAAAAAAAAis/1CmqnrUErk8/s1600/English.png" height ="225px" width = "300px">
   <img src ="http://www.theworldaccordingtoe.com/.a/6a00e3982283618833017ee7d134f5970d-pi" height ="225px" width = "300px">
   
   
   <h3> Videos </h3>

<iframe width="200" height="200" src="https://www.youtube.com/embed/MSYw502dJNY?list=PL8dPuuaLjXtOeEc9ME62zTfqc0h6Pe8vb" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/I4kz-C7GryY?list=PL8dPuuaLjXtOeEc9ME62zTfqc0h6Pe8vb" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/xw9Au9OoN88?list=PL8dPuuaLjXtOeEc9ME62zTfqc0h6Pe8vb" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/R66eQLLOins?list=PL8dPuuaLjXtOeEc9ME62zTfqc0h6Pe8vb" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/MS4jk5kavy4?list=PL8dPuuaLjXtOeEc9ME62zTfqc0h6Pe8vb" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/Z8tqY8fX0Ec?list=PL8dPuuaLjXtOeEc9ME62zTfqc0h6Pe8vb" frameborder="0" allowfullscreen></iframe>
   
   <h3>Links</h3>
   <a href = "http://www.edufind.com/english-grammar/english-grammar-guide/">Grammar Guide</a> <br>
   <a href = "http://dictionary.reference.com">Dictionary.com</a> <br>
   <a href = "http://www.online-literature.com">Online Literature</a> <br>
   <a href = "http://www.dailywritingtips.com">Daily Writing Tips</a> <br>
   <a href = "http://www.cnn.com">CNN News</a> <br>
   <a href = "http://www.bbc.com">BCC News</a>
   
   <h3> Textbook PDFs </h3>
   <a href = "http://www.english.ufl.edu/mrg/readings/Sartre,%20What%20Is%20Literature.PDF">What is Literature </a> <br>
   <a href = "http://202.74.245.22:8080/xmlui/bitstream/handle/123456789/85/An_Introduction_to_Literature__Criticism_and_Theory.pdf?sequence=1">An Introduction to Literature: Criticism and Theory </a> <br>
   <a href = "http://photos.state.gov/libraries/amgov/30145/publications-english/outline_us_lit.pdf">American Literature </a>
   
   <h3>Other Resources</h3>
   <a href = "https://sat.collegeboard.org/practice/sat-subject-test-preparation/english-literature"> Take the Literature SAT Subject Test </a> <br>
   <a href = "https://apstudent.collegeboard.org/apcourse/ap-english-language-and-composition"> Learn about AP Literature </a>
   
   </div>
 </body>
</html>
