
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Educational Resources</title>
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
     <link href='http://fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" type="text/css" href="css/style2.css" >
 </head>
 <body>
   <div container>
   <ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="er.erb">Home</a></li>
  <li role="presentation"><a href="math.erb">Math</a></li>
  <li role="presentation"><a href="english.erb">English</a></li>
  <li role="presentation"><a href="history.erb">History</a></li>
  <li role="presentation"><a href="science.erb">Science</a></li>
  <li role="presentation"><a href="language.erb">Language</a></li>
     <form method = "POST" action = "/results.erb"> <input type = "text" name = "search"> </input> <input type = "submit"> </input> </form> 
</ul>
  
</ul>
   <h1> <br> &nbsp History </h1>
<div id = "intro">
   <h3> <br>  &nbsp  This website contains videos, links, textbooks, and everything you'll need for school research </h3>

<img src =" https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcShRV4iMScRNdugebodYcKIg5PniLcKuLGyFpaGNsrlbuQMN-Zh1g" height ="225px" width = "300px">
<img src =" http://www.nationsencyclopedia.com/photos/jamaica-history-1873.jpg" height ="225px" width = "300px">
<img src ="http://www.free-world-maps.com/map-images/physical-green-tone-world-map-b3.jpg" height ="225px" width = "300px">
<img src ="http://www.ciaotenerife.it/portal/images/vari/galeon.jpg" height ="225px" width = "300px">
</div>

<div id = "videos">

<h3>Big History (Crash Course) </h3>
<iframe width="200" height="200" src="https://www.youtube.com/embed/tq6be-CZJ3w?list=PL8dPuuaLjXtMczXZUmjb3mZSU1Roxnrey" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/Fi30zjQhtWY?list=PL8dPuuaLjXtMczXZUmjb3mZSU1Roxnrey" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/By6CkTN4wkI?list=PL8dPuuaLjXtMczXZUmjb3mZSU1Roxnrey" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/1WS712DHfmg?list=PL8dPuuaLjXtMczXZUmjb3mZSU1Roxnrey" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/92oHNd8vFwo?list=PL8dPuuaLjXtMczXZUmjb3mZSU1Roxnrey" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/UPggkvB9_dc?list=PL8dPuuaLjXtMczXZUmjb3mZSU1Roxnrey" frameborder="0" allowfullscreen></iframe>
</div>
<div id = "videos">
<h3> <br> World History</h3>
<iframe width="200" height="200" src="https://www.youtube.com/embed/Wc5zUK2MKNY?list=PL8dPuuaLjXtNjasccl-WajpONGX3zoY4M" frameborder="0" allowfullscreen></iframe>

<iframe width="200" height="200" src="https://www.youtube.com/embed/Sgae8SA-rcI?list=PL8dPuuaLjXtNjasccl-WajpONGX3zoY4M" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/Cd2ch4XV84s?list=PL8dPuuaLjXtNjasccl-WajpONGX3zoY4M" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/watch?v=2NIgqS47m5k&list=PL8dPuuaLjXtNjasccl-WajpONGX3zoY4M&index=4" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/watch?v=2NIgqS47m5k&list=PL8dPuuaLjXtNjasccl-WajpONGX3zoY4M&index=4" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/watch?v=2NIgqS47m5k&list=PL8dPuuaLjXtNjasccl-WajpONGX3zoY4M&index=4" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/watch?v=2NIgqS47m5k&list=PL8dPuuaLjXtNjasccl-WajpONGX3zoY4M&index=4" frameborder="0" allowfullscreen></iframe>
</div>





     
   
   </div>
 </body>
</html>