Physics HTML (physics.erb)
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Educational Resources</title>
<link href='http://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <link rel="stylesheet" type="text/css" href="css/style2.css" >
 </head>
 <body>
   <div container>
   <ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="er.erb">Home</a></li>
  <li role="presentation"><a href="math.html">Math</a></li>
  <li role="presentation"><a href="english.erb">English</a></li>
  <li role="presentation"><a href="history.erb">History</a></li>
  <li role="presentation"><a href="science.erb">Science</a></li>
  <li role="presentation"><a href="language.erb">Language</a></li>
     <form method = "POST" action = "/results.erb"> <input type = "text" name = "search"> </input> <input type = "submit"> </input> </form> 
</ul>
  
</ul>
   <h1> Physics </h1>
   <h3> This website contains videos, links, textbooks, and everything you'll need for school research </h3>
<img src ="http://images.wisegeek.com/atomic-particle.jpg" height ="225px" width = "300px">
<img src ="https://pbs.twimg.com/profile_images/473874006316036096/CApsEmi8.png" height ="225px" width = "300px">
<img src ="http://previews.123rf.com/images/etiamos/etiamos1207/etiamos120700079/14500732-Blackboard-with-physical-formulas--Stock-Vector-blackboard-wallpaper-physics.jpg" height ="225px" width = "300px">
<img src ="http://3.bp.blogspot.com/-PDLZhfdlFPg/T_PkieY39CI/AAAAAAAAAt0/TnSD9p2FsyM/s1600/prism.PNG" height ="225px" width = "300px">

<h3> Videos (from MinutePhysics) </h3>
<iframe width="200" height="200" src="https://www.youtube.com/embed/p_o4aY7xkXg" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/_riIY-v2Ym8" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/53glKEPzElA?list=PL908547EAA7E4AE74" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/ajhFNcUTJI0?list=PL908547EAA7E4AE74" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/zLSe7RxtJ4o?list=PL908547EAA7E4AE74" frameborder="0" allowfullscreen></iframe>
<iframe width="200" height="200" src="https://www.youtube.com/embed/T3gacnHb9TI?list=PL908547EAA7E4AE74" frameborder="0" allowfullscreen></iframe>

<h3>Links</h3>
<a href= "http://www.physics.org"> Physics.org </a> <br>
<a href= "http://www.physicsclassroom.com"> Physics Classroom </a> <br>
<a href= "https://www.khanacademy.org/science/physics"> Khan Academy</a> <br>
<a href= "http://www.physicscentral.com"> Physics Central </a> <br>
<a href= "http://physicsworld.com"> Physics World </a> <br>


<h3> Textbook PDFS </h3>
<a href= "http://ftp.igh.cnrs.fr/pub/nongnu/fhsst/Physics_Grade_10-12.pdf "> Physics Grade 10-12 </a> <br>
<a href= "http://www.phy.duke.edu/~rgb/Class/intro_physics_1/intro_physics_1.pdf"> Duke Intro to Physics </a> <br>
<a href= "http://www.goldbart.gatech.edu/PostScript/MS_PG_book/bookmaster.pdf"> Goldbart </a> <br>

<h3> Other Resources </h3>
<a href= "https://sat.collegeboard.org/practice/sat-subject-test-preparation/physics"> SAT Subject Test </a> <br>
<a href= "https://apstudent.collegeboard.org/apcourse/ap-physics-1"> AP Physics 1 </a> <br>
<a href= "https://apstudent.collegeboard.org/apcourse/ap-physics-2"> AP Physics 2 </a> <br>
<a href= "https://apstudent.collegeboard.org/apcourse/ap-physics-c-mechanics"> AP Physics C:Mechanics </a> <br>
<a href= "ttps://apstudent.collegeboard.org/apcourse/ap-physics-c-electricity-and-magnetism"> AP Physics C: Electricity and Magnetism </a> <br>




   
   </div>
 </body>
</html>