<!DOCTYPE html>
<html>
 <head>
     <meta charset="UTF-8">
  <title>Results</title>
   <link href='https://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
 <link href='https://fonts.googleapis.com/css?family=Raleway+Dots' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" type="style/css" href="css/style3.css">
 </head>
 <body>
   <h1>Here is the result:</h1>
   <h2 id="gpa"><%= @gpa %></h2>
 </body>
</html>