
<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Educational Resources</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <link href='https://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" type="text/css" href="css/style2.css" >
 </head>
 <body>
   <center><img src= "https://31.media.tumblr.com/e23c21e232cfb664a93cc0f614831366/tumblr_nsctbgJIlG1ua26pjo4_540.gif" height = "150px" width = "150px">
   <a href="/"><img id = "er" src = "https://38.media.tumblr.com/865ec1428a09ca620030eff4ea84c1a5/tumblr_nsctbgJIlG1ua26pjo1_540.gif" height = "200px" width = "200px"></a>
   <img src = "https://38.media.tumblr.com/0c9790cc6bc01121e3016ae1de2cb286/tumblr_nsctbgJIlG1ua26pjo5_540.gif" height = "150px" width = "150px"></center>
   <div container>
   <ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="er">Home</a></li>
  <li role="presentation"><a href="math.erb">Math</a></li>
  <li role="presentation"><a href="english.erb">English</a></li>
  <li role="presentation"><a href="history.erb">History</a></li>
  <li role="presentation"><a href="science.erb">Science</a></li>
  <li role="presentation"><a href="language.erb">Language</a></li>
     <form method = "POST" action = "/results.erb"> <input type = "text" name = "search"> </input> <input type = "submit"> </input> </form> 
</ul>
  
</ul>
   <h1> Science </h1>
   <h3> This website contains videos, links, textbooks, and everything you'll need for school research </h3>
   <a href="biology.erb"><img src =" http://cancer.osu.edu/~/media/Images/Cancer/Components/Carousels/Research-and-Education/Molecular-Biology-and-Cancer-Genetics.jpg?mw=1382" height ="225px" width = "300px"</a> <br> <h3>BIOLOGY</h3>
     <a href="chemistry.erb"><img src =" http://beta.theartofcharm.com/wp-content/uploads/files/2013/07/chemistry.jpg" height ="225px" width = "300px"</a> <br> <h3>CHEMISTRY</h3>
       <a href="physics.erb"><img src =" http://assets.feministing.com/wp-content/uploads/2015/05/Physics-WaLp-tw2011.png" height ="225px" width = "300px"</a> <br> <h3>PHYSICS</h3>
  
   
     
   
   </div>
 </body>
</html>
