
 p {
  color: #312152;
  position:relative;
  font-family: 'Cabin Sketch', cursive;
  font-size: 14px; 
 text-align: center;
  margin-top: 2px;
} 

 h1{
  background-color: #639;
  border-radius: 25px;
   width: 95%;
  color: white;
  font-family: 'Cabin Sketch', cursive;
}

 #erlogo {
  height: 100px;
  width: 100px;
  float:right;
}

#navbar {
  position: relative;
  top: 20px;
}

#search {
  position:relative;
  top: 5px;
}

h3 {
  font-family: 'Raleway Dots', cursive;
}

#intro {
  background-color: #6F9; 
  border-radius: 25px;
  height: 340px;
  width: 1300px;
}

