body {
  background-color: white;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
  color: #312152;
}

table {
  margin: auto;
  font-size: 20px;
}

#plannerhead {
  position:relative;
  bottom: 100px;
  font-family: 'Cabin Sketch', cursive;
  font-weight: 1000;
  font-size: 60px;
  text-align: left;
  margin:auto;
}

#indexhead {
  position:relative;
  color: #80B991;
  bottom: 100px;
  font-family: 'Cabin Sketch', cursive;
  font-weight: 1000;
  font-size: 20px;
  text-align: center;
  margin:auto;
}

#erhead {
  position:relative;
  bottom: 100px;
  font-family: 'Cabin Sketch', cursive;
  font-weight: 1000;
  font-size: 60px;
  text-align: left;
  margin:auto;
}

.header {
  position: relative;
  top: 20px
  margin:auto;
  height: 300px;
  background: -webkit-linear-gradient(#9470B8, #639); 
  background: -o-linear-gradient(#9470B8, #639); 
  background: -moz-linear-gradient(#9470B8, #639); 
  background: linear-gradient(#9470B8, #639); 
  border-radius: 20px;
  
}

.gpaheader {
  position: relative;
  top: 20px
  margin:auto;
  height: 220px;
  background: -webkit-linear-gradient(#9470B8, #639); 
  background: -o-linear-gradient(#9470B8, #639); 
  background: -moz-linear-gradient(#9470B8, #639); 
  background: linear-gradient(#9470B8, #639); 
  border-radius: 20px;
  
}

.er_header {
  position:relative;
  top: 10px;
  margin:auto;
  height: 300px;
  background: -webkit-linear-gradient(#80B991, #73A682); 
  background: -o-linear-gradient(#80B991, #73A682); 
  background: -moz-linear-gradient(#80B991, #73A682); 
  background: linear-gradient(#80B991, #73A682); 
  border-radius: 25px;
  
}

#ertext {
  color: white;
  position:relative;
  bottom: 90px;
  font-family: 'Raleway Dots', cursive;
  font-size: 25px; 
 text-align: left;
  margin-top: 2px;
}

/* background-color: #663399; */ 
#plannertext{
  position:relative;
  bottom: 90px;
  font-family: 'Raleway Dots', cursive;
  font-size: 25px; 
  color: #cdbfe3;
 text-align: left;
  margin-top: 2px;
}

#planner{
position:relative;
  top: 30px;
}

#er{
position:relative;
  top: 30px;
}

#button1 {
  z-index: 1;
   position:relative;
  bottom: 100px;
  margin:auto;
    display: block;
    height: 40px;
    width: 100px;
  border-radius: 25px;
    background: #D1C2E0;
  color: #D1C2E0;
}

#button2 {
  z-index: 2;
   position:relative;
  bottom: 100px;
   margin:auto;
    display: block;
    height: 40px;
    width: 100px;
  border-radius: 25px;
    background: #B3D5BD;
  color: #B3D5BD;
}

#buttontext {
  font-family: 'Raleway Dots', cursive;
  font-size: 25px; 
  text-align:center;
  margin:auto;
  position:relative;
  bottom: 12px;
  color: #312152;
 
}

#planner_page {
  color: #312152;
  background-color; black;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
}

#calendar_page {
  color: #312152;
  background-color; black;
  text-align: center;
  font-family: 'Cabin Sketch', cursive;
}

table {
  margin: auto;
  text-align: center;
  font-size: 25px;
  background-color: white;
  color: #cdbfe3;
}

#calendar {
  font-family: 'Cabin Sketch', cursive;
  font-weight: 1000;
  font-size: 40px;
}

